.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image: url(https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1701980900l/61431922._SY475_.jpg);
    background-size: contain;
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url(https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1677160116i/65214365.jpg);
    background-size: contain;
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url(https://m.media-amazon.com/images/I/813aV273-rL._AC_UY436_FMwebp_QL65_.jpg);
    background-size: contain;
    background-position: center;
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url(https://m.media-amazon.com/images/I/71iJfuxXXJL._AC_UY436_FMwebp_QL65_.jpg);
    background-size: contain;
    background-position: center;
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url(https://m.media-amazon.com/images/I/81ilCcnwayL._AC_UY436_FMwebp_QL65_.jpg);
    background-size: contain;
    background-position: center;
  }
  
  .banner .swiper-slide:nth-child(6n) {
    background-image: url(https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1674418461l/65916344.jpg);
    background-size: contain;
  }
  